.header {
    /* margin: 0 2.5rem; */
    /* padding: .5rem 0; */
    margin: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content:space-between;
    /* border-bottom: #007BFF;
    border-width: 20px solid; */
    /* background-color: white; */
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 18%, rgba(158,156,137,1) 46%, rgba(0,0,0,1) 83%);
}


.headerLeft, .headerRight {
    display: flex;
    align-items: center;
    /* margin-right: 200px; */
margin: 0;
}
/* .headerLeft{
    background-color: #007BFF;
} */
.headerLeft > img{
    height: 500px;
    width: 20px;
    object-fit: cover;
    background-color: #007BFF;
}


a > span{
    margin: 0 30px;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a > span:hover {
    color: #07aec0;
}



.header__icon {
    display: flex;
    width: 150px;
    cursor: pointer;
    padding-right: 290PX;
    margin-left: 3rem;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.header__icon:hover {
    /* background-color: aqua; */
    box-shadow: #007BFF;
}

.user__avatar {
    font-size: 2rem;
}

